archive/
**/.DS_Store
.DS_Store
**/*.local.*

# Any command sin the lpct group of agent that starts with lpct- is reserved for local testing
# and shold not go in the repository
commands/lpct
agents/lpct-*
statusline/*.backup
.html/
.llm/
